<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <link rel="stylesheet" href="/static/css/style.css" />
    {% block css %}{% endblock %}
    <script src="/static/js/3rd/jquery-2.0.3.min.js"></script>
    <script src="/static/js/3rd/jquery.color.js"></script>
    <script src="/static/js/3rd/Chart.js"></script>
    <script src="/static/js/3rd/d3.min.js"></script>
    <script src="/static/js/d3.patch.js"></script>
    <title>{% block title %}{% endblock %} - FlowMasterMind</title>
    {% endblock %}
</head>
<body>
<!--
    <div class="oneBorder"></div>
    <div class="twoBorder"></div>
    <div class="threeBorder"></div>
-->
    {% include "menu.html" %}
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>


    {% block js %}{% endblock %}


</body>
</html>
