{% extends "base.html" %}
{% block title %}Memory{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/autocomplete.css" />
<link rel="stylesheet" href="/static/css/tooltip.css" />
<link rel="stylesheet" href="/static/css/treemap.css" />
<link rel="stylesheet" href="/static/css/group_info.css" />
{% endblock %}

{% block content %}
    <div class="img_container" style="display:none">
        <img class="loader" src='/static/img/loader.gif' width='16' height='16' />
    </div>
    <div class="inner-content">
        <div class="chart-set" id="memory">
            <div class="chart">
                <div id="effectiveMemoryChart" width="200" height="200"></div>
            </div>
            <div class="chart">
                <div id="totalMemoryChart" width="200" height="200"></div>
            </div>
            <div class="chart">
                <div id="LrcEffectiveMemoryChart" width="200" height="200"></div>
            </div>
            <div class="chart">
                <div id="LrcMemoryChart" width="200" height="200"></div>
            </div>
            <!-- <span class="clear" /> -->
        <!-- </div>
        <div class="chart-set" id="couples"> -->
            <div class="chart">
                <div id="couplesChart"></div>
            </div>
            <span class="clear" />
        </div>
        <div class="chart-set" id="dcs-memory">
            <div class="chart">
                <div id="dscMemoryChart"></div>
            </div>
            <div class="chart">
                <div id="dscTotalMemoryChart"></div>
            </div>
            <div class="chart">
                <div id="dscLrcMemoryChart"></div>
            </div>
            <div class="chart">
                <div id="dscKeysChart"></div>
            </div>
            <span class="clear" />
        </div>
        <div class="chart-set" id="dcs-groups">
            <div class="chart">
                <div id="dscCouplesChart"></div>
            </div>
            <span class="clear" />
        </div>

        <div class="namespaces">
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="/static/js/3rd/jquery.autocomplete.js"></script>
    <script src="/static/js/url.js"></script>
    <script src="/static/js/labels.js"></script>
    <script src="/static/js/error.js"></script>
    <script src="/static/js/ajax.js"></script>
    <script src="/static/js/helpers.js"></script>
    <script src="/static/js/colors.js"></script>
    <script src="/static/js/tooltip.js"></script>
    <script src="/static/js/bars.js"></script>
    <script src="/static/js/pie.js"></script>
    <script src="/static/js/spinner.js"></script>
    <script src="/static/js/group.js"></script>
    <script src="/static/js/treemap.js"></script>
    <script src="/static/js/charts.js"></script>
{% endblock %}
