{% extends "base.html" %}
{% block title %}Memory{% endblock %}

{% block content %}
    <div class="inner-content">
        <div class="cmd-containers">
            <div class="cmd-unknown" style="display: none;">
            </div>
            <div class="cmd-executing">
                <div class="cmd-header cmd-header-executing">выполняющиеся команды</div>
            </div>
            <div class="cmd-finished">
                <div class="cmd-header cmd-header-finished">выполненные команды</div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="/static/js/helpers.js"></script>
    <script src="/static/js/commands_view.js"></script>
    <script src="/static/js/commands.js"></script>
{% endblock %}
