{% extends "base.html" %}
{% block title %}Задачи{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/jobs.css" />
{% endblock %}

{% block content %}
    <div class="inner-content">
        <a href="/jobs/{{ job_type }}/{{ previous_year }}/{{ previous_month }}/" class="jobs-previous-month">за предыдущий месяц</a>
        <div class="jobs-containers" job-type="{{ job_type }}" job-tag="{{ tag }}">
            <ul class="tabs">
                <li class="jobs-not-approved">
                    <input type="radio" name="jobs-tabs" id="tab-switch-jobs-not-approved" />
                    <label for="tab-switch-jobs-not-approved">ожидающие одобрения</label>
                </li>
                <li class="jobs-executing">
                    <input type="radio" name="jobs-tabs" id="tab-switch-jobs-executing" />
                    <label for="tab-switch-jobs-executing">выполняющиеся задачи</label>
                </li>
                <li class="jobs-finished">
                    <input type="radio" name="jobs-tabs" id="tab-switch-jobs-finished" />
                    <label for="tab-switch-jobs-finished">завершенные задачи</label>
                </li>
            </ul>
            <div id="jobs-not-approved" class="tab-content">
            </div>
            <div id="jobs-executing" class="tab-content">
            </div>
            <div id="jobs-finished" class="tab-content">
            </div>
        </div>
        <div class="job-init-spinner">
        </div>
        <div class="helpers" style="display:none;">
            <img class="job-action-pb" src="/static/img/job_action.gif" width="220" height="19" />
            <div class="job-list-empty">пусто</div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="/static/js/helpers.js"></script>
    <script src="/static/js/url.js"></script>
    <script src="/static/js/spinner.js"></script>
    <script src="/static/js/error.js"></script>
    <script src="/static/js/ajax.js"></script>
    <script src="/static/js/commands_view.js"></script>
    <script src="/static/js/jobs_view.js"></script>
    <script src="/static/js/jobs.js"></script>
{% endblock %}
