{% extends "base.html" %}
{% block title %}Memory{% endblock %}

{% block content %}
    <div class="menu">
        <div class="stripes">
        </div>
        <span class="menu-item-header">
            Общее
        </span>
        <a class="menu-item" href="#memory">
            память
        </a>
        <a class="menu-item" href="#couples">
            каплы
        </a>
        <span class="menu-item-header">
            Дата-центры
        </span>
        <a class="menu-item" href="#dcs-memory">
            память
        </a>
        <a class="menu-item" href="#dcs-groups">
            группы
        </a>
    </div>
    <div class="inner-content">
        <div class="chart-set" id="memory">
            <div class="chart">
                <canvas id="effectiveMemoryChart" width="200" height="200"></canvas>
                <span class="chart-label">эффективная память</span>
            </div>
            <div class="chart">
                <canvas id="totalMemoryChart" width="200" height="200"></canvas>
                <span class="chart-label">общая память</span>
            </div>
            <div class="chart-legend">
                <div class="chart-legend-item">
                    <span class="chart-legend-color-sample color-memory-free"></span>
                    &mdash; свободно
                </div>
                <div class="chart-legend-item">
                    <span class="chart-legend-color-sample color-memory-occ"></span>
                    &mdash; занято
                </div>
            </div>
            <span class="clear" />
        </div>
        <div class="chart-set" id="couples">
            <div class="chart">
                <canvas id="couplesChart" width="200" height="200"></canvas>
                <span class="chart-label">каплы</span>
            </div>
            <div class="chart-legend">
                <div class="chart-legend-item">
                    <span class="chart-legend-color-sample color-couples-open"></span>
                    &mdash; открытые
                </div>
                <div class="chart-legend-item">
                    <span class="chart-legend-color-sample color-couples-frozen"></span>
                    &mdash; замороженные
                </div>
                <div class="chart-legend-item">
                    <span class="chart-legend-color-sample color-couples-closed"></span>
                    &mdash; закрытые
                </div>
            </div>
            <span class="clear" />
        </div>
        <div class="chart-set" id="dcs-memory">
            <div class="chart">
                <canvas id="dscMemoryChart" width="750" height="300"></canvas>
                <span class="chart-label">память по дата-центрам</span>
            </div>
            <div class="chart-legend">
                <div class="chart-legend-item">
                    <span class="chart-legend-color-sample color-dc-total"></span>
                    &mdash; закрыто
                </div>
                <div class="chart-legend-item">
                    <span class="chart-legend-color-sample color-dc-free"></span>
                    &mdash; свободно
                </div>
                <div class="chart-legend-item">
                    <span class="chart-legend-color-sample color-dc-uncoupled"></span>
                    &mdash; не используется
                </div>
            </div>
            <span class="clear" />
        </div>
        <div class="chart-set" id="dcs-groups">
            <div class="chart">
                <canvas id="dscGroupsChart" width="750" height="300"></canvas>
                <span class="chart-label">группы по дата-центрам</span>
            </div>
            <div class="chart-legend">
                <div class="chart-legend-item">
                    <span class="chart-legend-color-sample color-dc-couples-total"></span>
                    &mdash; в капле, закрыта
                </div>
                <div class="chart-legend-item">
                    <span class="chart-legend-color-sample color-dc-couples-open"></span>
                    &mdash; в капле, открыта
                </div>
                <div class="chart-legend-item">
                    <span class="chart-legend-color-sample color-dc-couples-frozen"></span>
                    &mdash; в капле, заморожена
                </div>
                <div class="chart-legend-item">
                    <span class="chart-legend-color-sample color-dc-groups-uncoupled"></span>
                    &mdash; не в капле
                </div>
            </div>
            <span class="clear" />
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="/static/js/memory.js"></script>
{% endblock %}
