    <div class="menu">
        <div class="stripes">
        </div>
        <a class="menu-page" href="/">
            Графики
        </a>
        {% if menu_page == 'charts' %}
            <span class="menu-item-header">
                Общее
            </span>
            <span class="menu-item">
                <a href="#memory">память</a>
            </span>
            <span class="menu-item">
                <a href="#couples">каплы</a>
            </span>
            <span class="menu-item-header">
                Дата-центры
            </span>
            <span class="menu-item">
                <a href="#dcs-memory">память</a>
            </span>
            <span class="menu-item">
                <a href="#dcs-groups">группы</a>
            </span>

            <span class="menu-item-header">
                Неймспэйсы
            </span>
            <div class="namespaces-menu">
            </div>
        {% endif %}
        <a class="menu-page" href="/jobs/">
            Задачи
        </a>
        {% if menu_page == 'jobs' %}
            <span class="menu-page-item">
                    {% if cur_page != 'move' %}
                        <a href="/jobs/move/">переезд</a>
                    {% else %}
                        <span class="selected">переезд</span>
                    {% endif %}
                </span>
                <span class="menu-page-item">
                    {% if cur_page != 'recovery' %}
                        <a href="/jobs/recovery/">синхронизация</a>
                    {% else %}
                        <span class="selected">синхронизация</span>
                    {% endif %}
                </span>
                <span class="menu-page-item">
                    {% if cur_page != 'defrag' %}
                        <a href="/jobs/defrag/">дефрагментация</a>
                    {% else %}
                        <span class="selected">дефрагментация</span>
                    {% endif %}
                </span>
                <span class="menu-page-item">
                    {% if cur_page != 'restore' %}
                        <a href="/jobs/restore/">восстановление</a>
                    {% else %}
                        <span class="selected">восстановление</span>
                    {% endif %}
                </span>
                <span class="menu-page-item">
                    {% if cur_page != 'move-lrc-groups' %}
                        <a href="/jobs/move-lrc-groups/">lrc-переезд</a>
                    {% else %}
                        <span class="selected">lrc-переезд</span>
                    {% endif %}
                </span>
                <span class="menu-page-item">
                    {% if cur_page != 'lrc-groups' %}
                        <a href="/jobs/lrc-groups/">lrc-группы</a>
                    {% else %}
                        <span class="selected">lrc-группы</span>
                    {% endif %}
                </span>
                <span class="menu-page-item">
                    {% if cur_page != 'lrc-groups-restore' %}
                        <a href="/jobs/lrc-groups-restore/">lrc-восстановление</a>
                    {% else %}
                        <span class="selected">lrc-восстановление</span>
                    {% endif %}
                </span>
                <span class="menu-page-item">
                    {% if cur_page != 'lrc-recovery' %}
                        <a href="/jobs/lrc-recovery/">lrc-синхронизация</a>
                    {% else %}
                        <span class="selected">lrc-синхронизация</span>
                    {% endif %}
                </span>
                <span class="menu-page-item">
                    {% if cur_page != 'lrc-remove' %}
                        <a href="/jobs/lrc-remove/">lrc-удаление</a>
                    {% else %}
                        <span class="selected">lrc-удалениес</span>
                    {% endif %}
                </span>
                <span class="menu-page-item">
                    {% if cur_page != 'cleanup' %}
                        <a href="/jobs/cleanup/">чистка</a>
                    {% else %}
                        <span class="selected">чистка</span>
                    {% endif %}
                </span>
                <span class="menu-page-item">
                    {% if cur_page != 'backend_cleanup' %}
                        <a href="/jobs/backend_cleanup/">удаление бекенда</a>
                    {% else %}
                        <span class="selected">удаление бекенда</span>
                    {% endif %}
                </span>
        {% endif %}
        <a class="menu-page" href="/commands/">
            Команды
        </a>
        {% if menu_page == 'commands' %}
            <span class="menu-page-item">
                {% if cur_page != 'commands' %}
                    <a href="/commands/">текущие</a>
                {% else %}
                    <span class="selected">текущие</span>
                {% endif %}
            </span>
            <span class="menu-page-item">
                {% if cur_page != 'history' %}
                    <a href="/commands/history/">архив</a>
                {% else %}
                    <span class="selected">архив</span>
                {% endif %}
            </span>
        {% endif %}
        <a class="menu-page" href="/monitor/couple-free-effective-space/">
            Эффективное место
        </a>
        {% if menu_page == 'monitor' %}
            <span class="menu-item-header">
                Неймспэйсы
            </span>
            <div class="namespaces-menu">
            </div>
        {% endif %}
    </div>
