Source: flowmastermind
Section: net
Priority: extra
Maintainer: Andrey Vasilenkov <indigo@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/nobodyisme/flowmastermind
Vcs-Git: git://github.com/nobodyisme/flowmastermind.git

Package: flowmastermind
Architecture: amd64
Depends: ${shlibs:Depends},
 ${misc:Depends},
 cocaine-v12-framework-python,
 cocaine-v12-tornado-proxy,
 cocaine-v12-tools,
 python-flask,
 python-mastermind-cocainev11,
 python-msgpack | msgpack-python
Conflicts:
 flowmastermind-cocainev11
Description: Frontend for mastermind storage statistics display
