Source: flowmastermind-cocainev11
Section: net
Priority: extra
Maintainer: Andrey Vasilenkov <indigo@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/nobodyisme/flowmastermind
Vcs-Git: git://github.com/nobodyisme/flowmastermind.git

Package: flowmastermind-cocainev11
Architecture: amd64
Depends: ${shlibs:Depends},
 ${misc:Depends},
 cocaine-framework-python (>= 0.11.1.7),
 cocaine-native-proxy (>= 0.11.1),
 cocaine-framework-native (>= 0.11.1),
 cocaine-tools (>= 0.11.0),
 python-flask,
 python-mastermind-cocainev11,
 python-msgpack | msgpack-python
Description: Frontend for mastermind storage statistics display
