.composite-line {
    display: inline-block;
    position: relative;
}

.composite-line-sub {
    position: absolute;
    top: 100%;
    left: 0;
    /*font-size: 70%;*/
    font-size: 11px;
    line-height: 12px;
}


.job {
    margin: 10px 20px 10px 10px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);



    border-color: #bce8f1;
}

.job-description-container {
    padding: 5px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    font-size: 12px;

    cursor: pointer;
}

.job.job-status-completed {
    border-color: #d6e9c6;
}

.job.job-status-completed .job-description-container {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.job.job-status-broken {
    border-color: #debae2;
}

.job.job-status-broken .job-description-container {
    color: #8d6592;
    background-color: #edd8f0;
    border-color: #debae2;
}

.job.job-status-pending {
    border-color: #faebcc;
}

.job.job-status-pending .job-description-container {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.job.job-status-executing {
    border-color: #bce8f1;
}

.job.job-status-executing .job-description-container {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.job.job-status-new {
    border-color: #bce8f1;
}

.job.job-status-new .job-description-container {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.job.job-status-cancelled {
    border-color: #ebccd1;
}

.job.job-status-cancelled .job-description-container {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.job-description {
    display: block;
}

.job-management {
    display: block;
    height: 19px;
}

.job-management-btns {
    display: inline-block;
    float: right;
}

.job-title {
    font-size: 16px;
    margin-bottom: 8px;
    line-height: 32px;
}

.job-title .composite-line-sub {
    margin-top: -5px;
}

.job-tasklist {
    padding: 15px;
}

.job-errorlist {
    border: 1px solid #eee;
    margin: 5px;
    color: #444;
}

.job-errorlist .job-errorlist-header {
    font-size: 14px;
    padding: 5px 0 0 5px;
}

.job-errorlist .job-error {
    padding: 3px;
    font-size: 12px;
}

.job-errorlist div .job-error-ts,
.job-errorlist div .job-error-msg {
    display: inline-block;
    padding: 5px;
}

.job-create-time-label, .job-create-time-val,
.job-start-time-label, .job-start-time-val,
.job-finish-time-label, .job-finish-time-val,
.job-delayed-till-time-label, .job-delayed-till-time-val {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
}

.job-start-time-val, .job-finish-time-val, .job-delayed-till-time-val {
    padding-right: 30px;
}

.job-tasklist {
    display: none;
}

.job-id {
    display: inline-block;
    font-size: 9px;
    padding: 0 10px;
}

.task {
    padding: 10px;
}

.task .task-status-icon, .task .task-title, .task .task-time,
.task .task-additional-info, .task .task-management {
    display: inline-block;
    vertical-align: middle;
    line-height: 15px;
}

.task .task-start-time, .task .task-finish-time, .task .task-retry-time {
    display: block;
}

.task .task-status-icon {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.task.task-status-completed .task-status-icon {
    background-image: url('/static/img/completed.png');
}

.task.task-status-executing .task-status-icon {
    background-image: url('/static/img/executing.png');
}

.task.task-status-failed {
    background-color: #ffdbdb;
}

.task.task-status-failed .task-status-icon {
    background-image: url('/static/img/failed.png');
}

.task.task-status-skipped .task-status-icon {
    background-image: url('/static/img/skipped.png');
}

.task.task-status-unknown .task-status-icon {
    background-image: url('/static/img/unknown.png');
}

.task .task-title {
    font-size: 14px;
    padding: 0 10px;
    width: 480px;
    display: inline-block;
}

.task .task-additional-info {
    position: relative;
    font-size: 12px;
    width: 50px;
}

.task .task-maintitle {
    line-height: 17px;
}

.task .task-subtitle {
    font-size: 11px;
    color: #555;
}

.task .task-subtitle .composite-line-sub {
    font-size: 10px;
    margin-top: -2px;
}

.task .task-start-time, .task .task-finish-time {
    width: 300px;
    font-size: 13px;
    padding: 5px;
}

.task .task-retry-time {
    width: 400px;
    font-size: 13px;
    padding: 5px 20px 5px 5px;
}

.task .task-management {
    width: 100px;
}

.task-management-btn {
    text-decoration: none;
    color: #487EB8;
    border-bottom: 1px dashed #487EB8;
    font-size: 11px;
    display: inline-block;
    margin: 0 10px;
}

.task .task-cmd-stat {
    position: absolute;
    width: 800px;
    left: -700px;
    top: 20px;
    background-color: #fff;
    border: 1px solid #777;
    z-index: 1;
}

.task .task-run-history {
    display: block;
    position: relative;
    float: right;
    width: 100px;
}

.task .task-run-history .list {
    position: absolute;
    width: 1200px;
    left: -1150px;
    top: 20px;
    background-color: #fff;
    border: 1px solid #777;
    z-index: 1;
}

.task .task-run-history table {
    border-spacing: 15px;
}

.task .task-run-history table td {
    padding: 0 10px;
}

.task .task-run-history table td.record-spent-time {
    text-align: right;
}

.task .task-run-history table td.record-exit-code {
    text-align: center;
}

.task .task-run-history .history-icon {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.task .task-run-history table td .artifacts {
    width: 100%;
    height: 100px;
}

.task .task-run-history table tr.artifacts-content {
    display: none;
}

.job-errorlist-showmore-btn {
    display: block;
    padding: 3px;
    margin: 5px;
    border: 1px solid #A3AFEE;
    width: 21px;
    height: 7px;
    line-height: 2px;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
    background-color: #E2EBFF;
    color: #576BD5;
}


/* TABS */

.jobs-containers {
    margin-right: 2px;
}

.jobs-containers .tabs {
    list-style: none;
    white-space: nowrap;
    margin-bottom: 15px;
}

.jobs-containers .tabs li {
    display: inline-block;
    width: 25%;
}

.jobs-containers .tabs input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.jobs-containers .tabs a {
    z-index: 5;
    display: block;
    padding: 10px 20px;
    border-radius: 2px 2px 0 0;
    border-bottom: 1px solid #eee;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    font-family: 'Lily Script One', helveti;
    text-align: center;
    background: rgba(255,255,255,0.2);
    cursor: pointer;
    position: relative;
    top: 5px;
    -webkit-transition: all 0 .2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.job-init-spinner {
    display: block;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
}

.job-list-empty {
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #999;
    margin-top: 20px;
    text-align: center;
}

.jobs-previous-month {
    display: block;
    position: relative;
    right: 0;
    text-align: right;
    margin: 3px 5px 2px;
}

.jobs-containers .tabs .jobs-finished label {
    background-color: rgba(153,153,153, 0.7);
}

.jobs-containers .tabs .jobs-finished label:hover {
    background: rgba(153,153,153, 1.0);
}

.jobs-containers .tabs .jobs-finished  a {
    background: rgba(153,153,153, 0.75);
}

.jobs-containers .tabs .jobs-finished  a:hover {
    background: rgba(153,153,153, 1.0);
}

.jobs-containers .tabs .jobs-finished .tab-content {
    border-color: rgba(153,153,153, 1.0);
}

.jobs-containers .tabs .jobs-executing label {
    background-color: rgba(102,187,102, 0.7);
}

.jobs-containers .tabs .jobs-executing label:hover {
    background: rgba(102,187,102, 1.0);
}

.jobs-containers .tabs .jobs-executing a {
    background: rgba(102,187,102, 0.75);
}

.jobs-containers .tabs .jobs-executing a:hover {
    background: rgba(102,187,102, 1.0);
}

.jobs-containers .tabs .jobs-executing .tab-content {
    border-color: rgba(102,187,102, 1.0);
}

.jobs-containers .tabs .jobs-not-approved label {
    background-color: rgba(243,243,151, 0.7);
    color: #a5a5a5;
}

.jobs-containers .tabs .jobs-not-approved label:hover {
    background-color: rgba(243,243,151, 1.0);
}

.jobs-containers .tabs .jobs-not-approved a {
    background: rgba(243,243,151, 0.75);
}

.jobs-containers .tabs .jobs-not-approved a:hover {
    background: rgba(243,243,151, 1.0);
}

.jobs-containers .tabs .jobs-not-approved .tab-content {
    border-color: rgba(243,243,151, 1.0);
}

.jobs-containers .tabs .jobs-pending a {
    background: rgba(204,150,211, 0.75);
}

.jobs-containers .tabs .jobs-pending a:hover {
    background: rgba(183,135,189, 1.0);
}

.jobs-containers .tabs .jobs-pending .tab-content {
    border-color: rgba(243,243,151, 1.0);
}

/* TABS END */
