div.treemap {
    position: fixed;
    top: 20px;
    left: 240px;
    bottom: 20px;
    right: 30px;

    /*filter: blur(1px);*/
    /*-webkit-filter: blur(0);*/

    background-color: #fff;
    /*opacity: 1.0;*/
    border: 1px solid #aaa;
}

div.switcher {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 30px;
    background-color: #fff;
}

div.errormsg {
    font-size: 15px;
    color: #444;
}

.qmark {
    font-size: 40px;
}

.lqmark {
    position: absolute;
    top: 16px;
    left: 10px;
}

.rqmark {
    position: absolute;
    bottom: 24px;
    right: 10px;
}

span.quote {
    font: 20px/28px "PTSerif-Regular", serif;
    width: 770px;
    margin: 20px auto;
    display: block;
    padding: 20px 35px 20px 30px;
    position: relative;
    background-color: #eee;
    text-align: right;
    border-radius: 7px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}

span.quoter {
    font: 20px/28px "PTSerif-Regular", serif;
    font-style: italic;
    text-align: right;
    width: 800px;
    margin: auto;
    display: block;
}

path.spinner {
    fill: #2377A7;
}

g.topline text {
    font-size: 15px;
    alignment-baseline: middle;
}

g.topline text.crumbs {
    fill: #666;
}

g.topline text.value {
    cursor: pointer;
    text-decoration: underline;
}

g.topline text {
    fill: #999;
}

.topline-bg {
    fill: #fff;
}

div.switcher input {
    display: none;
}

div.switcher label {
    font-size: 12px;
    color: #333;
    display: inline-block;
    margin: 5px;
    padding: 4px;
    border-bottom: 1px dashed #333;
    cursor: pointer;
}

div.switcher label.selected {
    border-bottom: none;
    background-color: #eee;
}


/* Side panel */
.sidepanel {
    background-color: #fff;
    border: 1px solid #333;
    position: absolute;
    top: 40px;
    right: 10px;
    color: #444;
    font-size: 12px;
    opacity: 0;
    display: none;
    width: 200px;

    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

.sidepanel .leftcolumn {
    width: 90px;
    float: left;
    padding: 4px;
    text-align: right;
}

.sidepanel .title {
    font-size: 15px;
}

.sidepanel .rightcolumn {
    margin-left: 100px;
    padding: 4px;
}

.sidepanel .clear {
    clear: both;
}

.sidepanel .splitter {
    height: 0;
    border-bottom: 1px solid #333;
    margin: 0 10px;
}

.legend .label {
    font-size: 9px;
    fill: #555;
    alignment-baseline: central;
}

.context-menu {
    position: fixed;
    width: 150px;

    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);

    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    background: rgba(255,255,255,1.0);

    border: 1px solid rgba(0,0,0,.2);
    cursor: default;
    font-size: 13px;
    padding: 0;
    margin: 0;
    outline: none;
}

.context-menu .label {
    font-size: 11px;
    position: relative;
    color: #222;
    margin: 0 5px;
    padding: 10px 0;
    text-align: center;
    white-space: nowrap;
    border-bottom: 1px solid #888;
]}

.context-menu .item {
    position: relative;
    color: #333;
    cursor: pointer;
    margin: 0;
    padding: 5px 8em 5px 0;
    white-space: nowrap;
]}

.context-menu .item:hover {
    background-color: #eee;
}

.context-menu .item .item-icon {
    width: 30px;
    height: 16px;
    display: inline-block;
    text-align: center;
}

.context-menu .item .item-label {
    height: 16px;
    display: inline-block;
    vertical-align: top;
}

body .o-notifications {
    width: 300px;
}

/*body .o-notifications .o-notifications-default {
    background: none;
}*/

body .o-notifications .o-notification-success {
    background-color: #daffda;
    border: 1px solid #799979;
}

body .o-notifications .o-notification-error {
    background-color: #ffd5d5;
    border: 1px solid #7f6565;
}
