div.treemap {
    position: fixed;
    top: 20px;
    left: 240px;
    bottom: 20px;
    right: 30px;

    /*filter: blur(1px);*/
    /*-webkit-filter: blur(0);*/

    background-color: #fff;
    /*opacity: 1.0;*/
    border: 1px solid #aaa;
}

div.switcher {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 30px;
    background-color: #fff;
}

div.close {
    color: #444;
    position: absolute;;
    top: 0;
    right: 0;
    padding: 3px;
    margin: 2px;
    z-index: 10;
    cursor: pointer;
}

div.close:hover {
    background-color: #aaa;
    color: #eee;
    margin: 1px;
    border: 1px solid #888;
}

div.errormsg {
    font-size: 15px;
    color: #444;
}

.qmark {
    font-size: 40px;
}

.lqmark {
    position: absolute;
    top: 16px;
    left: 10px;
}

.rqmark {
    position: absolute;
    bottom: 24px;
    right: 10px;
}

span.quote {
    font: 20px/28px "PTSerif-Regular", serif;
    width: 770px;
    margin: 20px auto;
    display: block;
    padding: 20px 35px 20px 30px;
    position: relative;
    background-color: #eee;
    text-align: right;
    border-radius: 7px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}

span.quoter {
    font: 20px/28px "PTSerif-Regular", serif;
    font-style: italic;
    text-align: right;
    width: 800px;
    margin: auto;
    display: block;
}

path.spinner {
    fill: #2377A7;
}

g.topline text {
    font-size: 15px;
    alignment-baseline: middle;
}

g.topline text.crumbs {
    fill: #666;
}

g.topline text.value {
    cursor: pointer;
    text-decoration: underline;
}

g.topline text {
    fill: #999;
}

.topline-bg {
    fill: #fff;
}

div.switcher input {
    display: none;
}

div.switcher label {
    font-size: 12px;
    color: #333;
    display: inline-block;
    margin: 5px;
    padding: 4px;
    border-bottom: 1px dashed #333;
    cursor: pointer;
}

div.switcher label.selected {
    border-bottom: none;
    background-color: #eee;
}


/* Side panel */
.sidepanel {
    background-color: #fff;
    border: 1px solid #333;
    position: absolute;
    top: 40px;
    right: 10px;
    color: #444;
    font-size: 12px;
    opacity: 0;
    display: none;
    width: 200px;

    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

.sidepanel .leftcolumn {
    width: 90px;
    float: left;
    padding: 4px;
    text-align: right;
}

.sidepanel .title {
    font-size: 15px;
}

.sidepanel .rightcolumn {
    margin-left: 100px;
    padding: 4px;
}

.sidepanel .clear {
    clear: both;
}

.sidepanel .splitter {
    height: 0;
    border-bottom: 1px solid #333;
    margin: 0 10px;
}

.legend .label {
    font-size: 9px;
    fill: #555;
    alignment-baseline: central;
}
